{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}{% endblock %}

{% block body %}
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui message">
        <div class="header">
            Sucesso
        </div>
        <p>Usuário cadastrado com sucesso.</p>
    </div>
</div>
<div class="two wide column"></div>
{% endblock %}