{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Cadastre-se{% endblock %}


{% block body %}
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <h2 class="ui horizontal divider header">Cadastre-se</h2>

        <div class="ui segment">
            <form class="ui form" method="post" action=".">
                {% csrf_token %}
                <div class="field">
                    <label>Nome:</label>
                    <input maxlength="30" name="first_name" type="text" placeholder="Nome"/></p>
                </div>
                <div class="field">
                    <label>Sobrenome:</label>
                    <input maxlength="30" name="last_name" type="text" placeholder="Sobrenome"/></p>
                </div>
                <div class="field">
                    <label for="id_username">Usuário:</label>
                    <input id="id_username" maxlength="30" name="username" type="text" placeholder="Usuário"/></p>
                </div>
                <div class="field">
                    <label for="id_email">E-mail:</label>
                    <input id="id_email" name="email" type="email" placeholder="E-mail"/></p>
                </div>
                <div class="field">
                    <label for="id_password1">Senha:</label>
                    <input id="id_password1" name="password1" type="password" placeholder="Senha"/></p>
                </div>
                <div class="field">
                    <label for="id_password2">Confirmar senha:</label>
                    <input id="id_password2" name="password2" type="password" placeholder="Confirmar senha"/></p>
                </div>


                <input class="ui button" type="submit" value="Cadastrar"/>
            </form>
        </div>
    </div>
    <div class="two wide column"></div>
</div>
{% endblock %}

