{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_idade %}


{% block title %}Detalhes do Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Bovino {{bovino.nome}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a class="ui button" href="{% url 'listar_bovino' %}" name="listar"><i class="list layout icon"></i></a>
                <a class="ui button" href="{% url 'editar_bovino' bovino.id %}" name="editar"><i class="write icon"></i></a>
                <a class="ui button" href="{% url 'excluir_bovino' bovino.id %}" name="excluir" id="{{ bovino.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="three fields">
                <div class="field">
                    <label class="label-form">Data de Nascimento:</label>
                    {% if bovino.data_nascimento %}
                        <input value="{{bovino.data_nascimento|date:'d/m/Y'}}" disabled>
                        {#               <input value="{{bovino.data_nascimento|date:'d/m/Y H:m:s'}}" disabled>#}
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Idade (anos):</label>
                    {% if bovino.data_nascimento %}
                        <input value="{{bovino.data_nascimento|calcula_idade}}" disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Sexo:</label>
                    {% if bovino.is_femea %}
                        <input value="Fêmea" disabled>
                    {% else %}
                        <input value="Macho" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Nome:</label>
                    {% if bovino.nome %}
                        <input value={{bovino.nome}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Brinco:</label>
                    {% if bovino.brinco %}
                        <input value={{bovino.brinco}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Raça:</label>
                    {% if bovino.raca %}
                        <input value={{bovino.raca}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Lote:</label>
                    {% if bovino.lote.all %}
                        {% for lote in bovino.lote.all %}
                            <input value={{lote.lote}} disabled>
                        {% endfor %}
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Categoria:</label>
                    {% if bovino.categoria.all %}
                        {% for categoria in bovino.categoria.all %}
                            <input value={{categoria.categoria}} disabled>
                        {% endfor %}
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Status Reprodutivo:</label>
                    {% if bovino.status_reprodutivo.all %}
                        {% for status_reprodutivo in bovino.status_reprodutivo.all %}
                            <input value={{status_reprodutivo.status_reprodutivo}} disabled>
                        {% endfor %}
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Pai:</label>
                    {% if bovino.pai %}
                        <input value={{bovino.pai.nome}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Mãe:</label>
                    {% if bovino.mae %}
                        <input value={{bovino.mae}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            {#        <div class="field field-input-file">#}
            {#            <label class="label-form label-form-input-file">Foto:</label>#}
            {#        </div>#}
        </div>
    </div>

    <div class="two wide column"></div>

{% endblock %}
