{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Detalhes da Categoria{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes da Categoria {{categoria.categoria}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a  class="ui button" href="{% url 'listar_categoria' %}" name="listar"><i class="list layout icon"></i></a>
                <a  class="ui button" href="{% url 'editar_categoria' categoria.id %}" name="editar"><i class="write icon"></i></a>
                <a  class="ui button" href="{% url 'excluir_categoria' categoria.id %}" name="excluir" id="{{ categoria.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Categoria:</label>
                {% if categoria.categoria %}
                    <input value={{categoria.categoria}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Descrição:</label>
                {% if categira.descricao %}
                    <input value={{categoria.descricao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Perído de duração previto (dias):</label>
                    {%  if categoria.periodo_duracao_previsto %}
                        <input value={{categoria.periodo_duracao_previsto}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Perído de duração padrão (dias):</label>
                    {%  if categoria.periodo_duracao_padrao %}
                        <input value={{categoria.periodo_duracao_padrao}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
