{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Detalhes do Banco de Espermas{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Banco de Esperma
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a  class="ui button" href="{% url 'listar_esperma' %}" name="listar"><i class="list layout icon"></i></a>
                <a  class="ui button" href="{% url 'editar_esperma' esperma.id %}" name="editar"><i class="write icon"></i></a>
                <a  class="ui button" href="{% url 'excluir_esperma' esperma.id %}" name="excluir" id="{{ esperma.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Nome:</label>
                {% if esperma.nome %}
                    <input value={{esperma.nome}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Código de Compra:</label>
                {% if esperma.codigo_compra %}
                    <input value={{esperma.codigo_compra}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Raça:</label>
                    {%  if esperma.raca %}
                        <input value={{esperma.raca}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Data de Nascimento:</label>
                    {% if esperma.data_nascimento %}
                        <input value={{esperma.data_nascimento|date:'d/m/Y'}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Pai:</label>
                    {% if esperma.pai %}
                        <input value={{esperma.pai}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Mãe:</label>
                    {% if esperma.mae %}
                        <input value={{esperma.mae}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Quantidade Comprada:</label>
                    {% if esperma.quantidade_comprada %}
                        <input value={{esperma.quantidade_comprada}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Quantidade em Estoque:</label>
                    {% if esperma.quantidade_estoque %}
                        <input value={{esperma.quantidade_estoque}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Distribuidora:</label>
                    {% if esperma.distribuidora %}
                        <input value={{esperma.distribuidora}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Código:</label>
                    {% if esperma.codigo %}
                        <input value={{esperma.codigo}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}