{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Detalhes da Raça{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Raca {{raca.raca}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a  class="ui button" href="{% url 'listar_raca' %}" name="listar"><i class="list layout icon"></i></a>
                <a  class="ui button" href="{% url 'editar_raca' raca.id %}" name="editar"><i class="write icon"></i></a>
                <a  class="ui button" href="{% url 'excluir_raca' raca.id %}" name="excluir" id="{{ raca.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Raça:</label>
                {% if raca.raca %}
                    <input value={{raca.raca}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Descrição:</label>
                {% if raca.descricao %}
                    <input value={{raca.descricao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
