{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Detalhes do Status Reprodutivo{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Status Reprodutivo {{status_reprodutivo.status_reprodutivo}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a  class="ui button" href="{% url 'listar_status_reprodutivo' %}" name="listar"><i class="list layout icon"></i></a>
                <a  class="ui button" href="{% url 'editar_status_reprodutivo' status_reprodutivo.id %}" name="editar"><i class="write icon"></i></a>
                <a  class="ui button" href="{% url 'excluir_status_reprodutivo' status_reprodutivo.id %}" name="excluir" id="{{ status_reprodutivo.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Status Reprodutivo:</label>
                {% if status_reprodutivo.status_reprodutivo %}
                    <input value={{status_reprodutivo.status_reprodutivo}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Descrição:</label>
                {% if status_reprodutivo.descricao %}
                    <input value={{status_reprodutivo.descricao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Perído de duração previto:</label>
                    {% if status_reprodutivo.periodo_duracao_previsto %}
                        <input value={{status_reprodutivo.periodo_duracao_previsto}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Perído de duração padrão:</label>
                    {% if status_reprodutivo.periodo_duracao_padrao %}
                        <input value={{status_reprodutivo.periodo_duracao_padrao}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
