body{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    width:100%;
    min-height:100%;
}

section{
    width:100%;
    height:100%;
    margin: 0% 0% 0% 0%;
}

header{
    min-height:15%;
    margin: 0% 0% 0% 0%;
    text-align: center;
    width: 100%;
}

article{
    text-align: center;
    min-height: 75% !important;
    padding-top: 5%;
    /*margin: 0% 0% 0% 0%;*/
}

footer{
    min-height:10%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
}

footer a{
    color: #fff;
}

#system-title{
    background: #f1f1f1;
    color: #000;
    padding: 2% 0% 2% 0%;
}

#menu-geral{
    background: #f1f1f1;
}

.ui.labeled.icon.menu .item{
    color: #fff;
    align-self: center;
}

.ui.form .field > label {
    float: left;
}

.label-form{
    float: left;
}
.ui.fluid.vertical.menu{
    text-align: left;
}

.ui.avatar.image{
    float:left;
}

.ui.block.header{
  background: teal;
  color: #000;
}

#page-title-teal{
  background: #00b5ad;
  border: #00b5ad;
  color: #ffffff !important;
}

.ui.large.message{
  text-align: left !important;
}

.ui.small.basic.icon.buttons{
  float: right;
}

#item-nav-bar{
    /*padding: 2%;*/
}

.label-form-input-file{
    padding-right: 5px;
}

.field-input-file{
    min-height: 50px;
}

#button-row-left{
    margin-top: 23.5px;
}

#ui_message{
    margin-bottom: 15px;
}