.gm-style-iw {
    position: absolute;
    /*left: 42px;*/
    /*width: 100%;*/
    margin-left:28px;
    text-align: left;
}

#iw-container .iw-title {
	font-size: 14px;
	font-weight: 400;
	padding: 0px;
	margin: 0;
}

.iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-top:15px;
	margin-bottom:10px;
	width: 100%;
	/*max-height: 160px;*/
    max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

.imagem-infowindow{
	float: left;
	height: 100px;
	width: 80px;
	margin: 0 5px 5px 10px;
}
.iw-content ul{
	margin-left: -25px;
}

.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}