{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Editar Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Editar Informações do Bovino {{bovino.nome}}
            </h3>
        </div>

        <form class="ui form attached fluid segment" role="form" id="formBovino" method="post" action="{% url 'editar_bovino' bovino.id%}">
            {% csrf_token %}

            <div class="three fields">
                <div class="field">
                    <label class="label-form"> {{ form.data_nascimento.help_text }}</label>
                    {{ form.data_nascimento|attr:"type:date" }}
                    {% if form.data_nascimento.errors %}
                        {{ form.data_nascimento.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.is_femea.help_text }}</label>
                    {{ form.is_femea }}
                    {% if form.is_femea.errors %}
                        {{ form.is_femea.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.nome.help_text }}</label>
                    {{ form.nome }}
                    {% if form.nome.errors %}
                        {{ form.nome.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.brinco.help_text }}</label>
                    {{ form.brinco }}
                    {% if form.brinco.errors %}
                        {{ form.brinco.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.raca.help_text }}</label>
                    {{ form.raca }}
                    {% if form.raca.errors %}
                        {{ form.raca.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.lote.help_text }}</label>
                    {{ form.lote }}
                    {% if form.lote.errors %}
                        {{ form.lote.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.categoria.help_text }}</label>
                    {{ form.categoria }}
                    {% if form.categoria.errors %}
                        {{ form.categoria.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.status_reprodutivo.help_text }}</label>
                    {{ form.status_reprodutivo }}
                    {% if form.status_reprodutivo.errors %}
                        {{ form.status_reprodutivo.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.pai.help_text }}</label>
                    {{ form.pai }}
                    {% if form.pai.errors %}
                        {{ form.pai.errors }}
                    {% endif %}
                </div>
                <div class="field">
                    <label class="label-form"> {{ form.mae.help_text }}</label>
                    {{ form.mae }}
                    {% if form.mae.errors %}
                        {{ form.mae.errors }}
                    {% endif %}
                </div>
            </div>

            {#              <div class="field field-input-file">#}
            {#                  <label class="label-form label-form-input-file"> {{ form.imagem.help_text }}</label>#}
            {#                  <div type="file" class="label-form">{{ form.imagem }} </div>#}
            {#                  {% if form.imagem.errors %}#}
            {#                      {{ form.imagem.errors }}#}
            {#                  {% endif %}#}
            {#              </div>#}

            <a href="{% url 'visualizar_bovino' bovino.id %}" class='ui button'>Cancelar</a>
            <button class="ui button" type="submit" name="editar">Editar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
