{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Editar Categoria do Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Editar Categoria do Bovino {{bovino.nome}}
            </h3>
        </div>

        <form class="ui form attached fluid segment" role="form" id="formBovino" method="post" action="{% url 'editar_categoria_bovino' bovino.id%}">
            {% csrf_token %}

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Nome:</label>
                    <input value={{bovino.nome}} disabled>
                </div>

                <div class="field">
                    <label class="label-form">Brinco:</label>
                    <input value={{bovino.brinco}} disabled>
                </div>
            </div>

            <div class="field">
                <label class="label-form"> {{ form.categoria.help_text }}</label>
                {{ form.categoria }}
                {% if form.categoria.errors %}
                    {{ form.categoria.errors }}
                {% endif %}
            </div>

            <a href="{{ request.META.HTTP_REFERER }}" class='ui button'>Cancelar</a>
            <button class="ui button" type="submit" name="editar">Editar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
