{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load tag_inseminacao %}


{% block title %}Editar Inseminação{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Diagnóstico da Gestação da {{ inseminacao.vaca }}
            </h3>
        </div>

        <form class="ui form attached fluid segment" role="form" id="formDiagnosticoGestacao" method="post" action="{% url 'confirmar_inseminacao' inseminacao_id=inseminacao.id %}">
            {% csrf_token %}

{#             <div class="field">#}
{#                <label class="label-form"> {{ form.inseminacao.help_text }}</label>#}
{#                {{ form.inseminacao }}#}
{#                {% if form.inseminacao.errors %}#}
{#                    {{ form.inseminacao.errors }}#}
{#                {% endif %}#}
{#             </div>#}

            <div class="field">
                <label class="label-form"> Inseminação: </label>
                <input id="inseminacao" value="{{ inseminacao.data_inseminacao|date:'d/m/Y'}} - {{inseminacao.vaca }}/{{ inseminacao.touro.nome }}" disabled>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Data prevista do diagnóstico da gestação:</label>
                    <input value={{inseminacao.data_inseminacao|calcula_data_prevista_diagnostico_gestacao|date:'d/m/Y'}} disabled>
                </div>
                <div class="field">
                    <label class="label-form"> {{ form.data_diagnostico_gestacao.help_text }}</label>
                    {{ form.data_diagnostico_gestacao|attr:"type:date"}}
                    {% if form.data_diagnostico_gestacao.errors %}
                        {{ form.data_diagnostico_gestacao.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label class="label-form">Data prevista para secar:</label>
                    <input value={{inseminacao.data_inseminacao|calcula_data_prevista_secar|date:'d/m/Y'}} disabled>
                </div>
                <div class="field">
                    <label class="label-form">Data prevista do parto:</label>
                    <input value={{inseminacao.data_inseminacao|calcula_data_prevista_parto|date:'d/m/Y'}} disabled>
                </div>
            </div>

            <a href="{{ request.META.HTTP_REFERER }}" class="ui button">Cancelar</a>
            <button class="ui button" type="submit" name="editar">Salvar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
