<html>

<head>
    <title>Início - TrajeSim</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/theme.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/passo1.js' %}"></script>

</head>

<body>

    <div class="ui grid centered">
        <div class="row azul">
            <div class="twelve wide column azul">
                <img class="ui medium image" src="{% static 'images/logo.png' %}">
            </div>
        </div>

        <div class="row white">

            <div class="six wide column aligned center">

                <form class="ui form" method="POST" action="{% url 'passo2' %}">
                    {% csrf_token %}

                    <div class="two fields">
                        <div class="field">
                            <label>Data Inicial</label>
                            <input type="text" name="data_inicio" id="inicio" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}" value="1/1/2000" placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" required>
                        </div>

                        <div class="field">
                            <label>Data Final</label>
                            <input type="text" name="data_fim" id="fim" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}"  placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" value="" required>
                        </div>
                        <input type="submit" value="Continuar" class="ui submit button azul">
                    </div>

                </form>

            </div>

        </div>

        <div class="row white centro">
            <div class="ui twelve wide column galeria">
                <!--<img class="ui image" src="{{ STATIC_URL }}images/inicio.jpg">!-->
                <div class="ui move reveal azul">
                    <img class="ui image visible content" src="{% static 'images/inicio.jpg' %}">
                    <img class="ui image hidden content" src="{% static 'images/bem-vindo.jpg' %}">
                </div>
            </div>

        </div>

        <div class="row azul footer azul">
            <div class="twelve wide column aligned center">
                <span class="text">TrajeSim é um projeto desenvolvido em <a href="http://fabricadesoftware.araquari.ifc.edu.br/">Fábrica de Software</a></span>
                <div class="ui divider"></div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/dist/semantic.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/script_funcoes_index.js' %}"></script>#}
</body>

</html>
