<div class="one wide column"></div>
<div class="fourteen wide column" id="content-menu-steps">
    <div class="ui ordered steps">
        <div class="step" id="p1">
            <div class="content">
                <div class="title">Passo 1</div>
                <div class="description">Definir Período</div>
            </div>
        </div>
        <div class="step" id="p2">
            <div class="content">
                <div class="title">Passo 2</div>
                <div class="description">Desenhar Polígono</div>
            </div>
        </div>
        <div class="step" id="p3">
            <div class="content">
                <div class="title">Passo 3</div>
                <div class="description">Selecionar referencial</div>
            </div>
        </div>
        <div class="step" id="p4">
            <div class="content">
                <div class="title">Passo 4</div>
                <div class="description">Definir Percentuais</div>
            </div>
        </div>
        <div class="step" id="p5">
            <div class="content">
                <div class="title">Passo 5</div>
                <div class="description">Resultados</div>
            </div>
        </div>
    </div>
</div>
{#<div class="one wide column"></div>#}
