{% extends 'trajesim/base.html' %}{% load staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/passo5.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="ui segment teal">
        <div class="ui header">
            Resultados
        </div>
        <div class="ui divider"></div>

        <input type="hidden" readonly="true" id="trajetoria_referencial" readonly="true" value="{{ trajref_plotavel }}">



        <div class="ui segment">
            <div class="ui checkbox">
                <input type="checkbox" class="referencial">
                <label>Visualizar Referencial</label>
            </div>
        </div>


        <div class="ui styled azul preto inverted fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                    Detalhes da Referencial
            </div>
            <div class="content">
                <div class="ui inverted divided list">
                    <div class="item">
                        <i class="wait icon"></i>
                        <div class="content">
                            <div class="header">Tempo:</div>
                                <div class="description">{{ referencial.valor_tempo|floatformat:"0" }} segundos</div>
                        </div>
                    </div>

                    <div class="item">
                        <i class="expand icon"></i>
                        <div class="content">
                            <div class="header">Comprimento:</div>
                            <div class="description">{{ referencial.valor_comprimento|floatformat:"3" }} Km</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </br>

        <div class="ui azul styled accordion">

            {% if resultado_similaridade == 0 %}
                <div class="ui standard test modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Não houveram resultados na sua consulta
                    </div>
                    <div class="content">
                        <div class="description">
                            <div class="ui header">Os percentuais não foram atingidos
                                <div class="sub header">
                                    Similaridade por tempo em {{ similaridades.tempo }}%</br>
                                    Similaridade por comprimento em {{ similaridades.comprimento }}%</br>
                                    Similaridade por forma em {{ similaridades.forma }}%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <a href="{% url 'passo4' %}" class="ui red labeled icon button">
                            <i class="icon left arrow"></i>
                            Voltar
                        </a>
                    </div>
                </div>

            {% else %}

                <input type="hidden" id="subtrajetorias_completas"  readonly="true" value="{% for trajeto in resultado_similaridade %}{{ trajeto.linestring_plotavel }};{% endfor %}">

                <input type="hidden" id="ids" readonly="true" value="{% for trajeto in resultado_similaridade %}{{ trajeto.id_subtrajetoria }};{% endfor %}">

                <input type="hidden" id="pares" readonly="true" value="{% for trajeto in resultado_similaridade %}{% for trechos in trajeto.similaridade_forma %}{{ trechos.par_plotavel }};{% endfor %}{% endfor %}">

                {% for trajeto in resultado_similaridade %}

                    <div class="title botao" id="{{ trajeto.contador }}">
                        <i class="dropdown icon"></i>
                        Subtrajetória {{ trajeto.id_subtrajetoria }}
                    </div>

                    <div class="content" style="background-color: #4B658F!important;">
                        <div class="ui divided list">
                            <div class="item">
                                <div class="ui inverted divided list">
                                    <div class="item">
                                        <i class="wait icon"></i>
                                        <div class="content">
                                            <div class="header">Tempo: {{ trajeto.similaridade_tempo|floatformat:"1" }} %</div>
                                            <div class="description">{{ trajeto.valor_tempo|floatformat:"0" }} segundos</div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <i class="expand icon"></i>
                                        <div class="content">
                                            <div class="header">Comprimento: {{ trajeto.similaridade_comprimento|floatformat:"1" }} %</div>
                                            <div class="description">{{ trajeto.valor_comprimento|floatformat:"3" }} Km</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="ui label fluid gray">{{ trajeto.similaridade_forma|length }} Trecho(s) - Similares Forma</div>

                                <div class="ui list divided">
                                    {% for trechos in trajeto.similaridade_forma %}
                                        <div class="item">
                                            <b>{{ trechos.id }}</b>
                                            </br>
                                            <div class="botao_trecho ui icon circular button mini green" id="{{ trechos.contador }}"><i class="plus icon"></i></div>
                                            <b>Forma:</b> {{ trechos.similaridade|floatformat:"1" }}%
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        </div>
        <br>
        <a href="{% url 'passo1' %}" class="ui fluid button green labeled icon field"><i class="icon undo"></i>Recomeçar</a>
        <br>
        <a href="{% url 'passo4' %}" class="ui fluid button red labeled icon field"><i class="icon left arrow"></i>Voltar</a>
    </div>
{% endblock %}