{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Excluir Descarte{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui visible message">
            <form class="ui form" method="post">
               {% csrf_token %}
               <p>Você tem certeza que deseja excluir o registro de descarte do animal {{ bovino.nome }}?</p>
               <div class="row">
                   <input class="ui red button" type="submit" value="Excluir" />
                   <a href="{% url 'visualizar_descarte' descarte.id %}" class="ui blue button">Cancelar</a>
               </div>
            </form>
       </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
