{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Categorias{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
          <h1 class="ui horizontal divider header">Categorias</h1>
        </header>

        {% if categorias %}
                    <table class="ui blue table" id="tablesorter-categorias">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Descricao</th>
                                <th>Período de duração previsto</th>
                                <th>Período de duração padrão</th>

                                <th data-orderable="false">Detalhes</th>
                                <th data-orderable="false">Editar</th>
                                <th data-orderable="false">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for categoria in categorias  %}
                            <tr>
                                <td>{% if categoria.categoria %}{{ categoria.categoria }}{% endif %}</td>
                                <td>{% if categoria.descricao %}{{ categoria.descricao }}{% endif %}</td>
                                <td>{% if categoria.periodo_duracao_previsto %}{{ categoria.periodo_duracao_previsto }}{% endif %}</td>
                                <td>{% if categoria.periodo_duracao_padrao %}{{ categoria.periodo_duracao_padrao }}{% endif %}</td>

                                <td><a href="{% url 'visualizar_categoria' categoria.id %}"><i class="info icon"></i></a></td>
                                <td><a href="{% url 'editar_categoria' categoria.id %}"><i class="write icon"></i></a></td>
                                <td><a href="{% url 'excluir_categoria' categoria.id %}" name="excluir" id="{{ categoria.id }}"><i class="trash icon"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {% else %}
              <div class="ui grid">
                <div class="four wide column"></div>
                <div class="eight wide column">
                    <div class="ui large warning icon message">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="header">Categoria</div>
                            <p>Não existem categorias cadastradas.</p>
                        </div>
                    </div>
                  </div>
                  <div class="four wide column"></div>
              </div>
            {% endif %}

            <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
