{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Banco de Espermas{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Banco de Espermas</h1>
        </header>

        {% if espermas %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Código de Compra</th>
                        <th>Raça</th>
                        <th>Data de Nascimento</th>
                        <th>Pai</th>
                        <th>Mãe</th>
                        <th>Quantidade Comprada</th>
                        <th>Quantidade em Estoque</th>
{#                        <th>Distribuidora</th>#}
{#                        <th>Código</th>#}

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for esperma in espermas  %}
                    <tr>
                        <td>{% if esperma.nome %}{{ esperma.nome }}{% endif %}</td>
                        <td>{% if esperma.codigo_compra %}{{ esperma.codigo_compra }}{% endif %}</td>
                        <td>{% if esperma.raca %}{{ esperma.raca }}{% endif %}</td>
                        <td>{% if esperma.data_nascimento %}{{ esperma.data_nascimento|date:'d/m/Y' }}{% endif %}</td>
                        <td>{% if esperma.pai %}{{ esperma.pai }}{% endif %}</td>
                        <td>{% if esperma.mae %}{{ esperma.mae }}{% endif %}</td>
                        <td>{% if esperma.quantidade_comprada %}{{ esperma.quantidade_comprada }}{% endif %}</td>
                        <td>{% if esperma.quantidade_estoque %}{{ esperma.quantidade_estoque }}{% endif %}</td>
{#                        <td>{% if esperma.distribuidora %}{{ esperma.distribuidora }}{% endif %}</td>#}
{#                        <td>{% if esperma.codigo %}{{ esperma.codigo }}{% endif %}</td>#}

                        <td><a href="{% url 'visualizar_esperma' esperma.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_esperma' esperma.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_esperma' esperma.id %}" name="excluir" id="{{ esperma.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
              <div class="ui large warning icon message">
                  <i class="info icon"></i>
                  <div class="content">
                      <div class="header">Banco de Esperma</div>
                      <p>Não existe um banco de espermas cadastrado.</p>
                  </div>
              </div>
            </div>
            <div class="four wide column"></div>
        </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>
    </div>
    <div class="two wide column"></div>

{% endblock %}
