{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_bovino %}
{% load tag_distancia %}

{% block title %}Relatório de Movimentação dos Bovinos{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Relatório de Movimentação dos Bovinos</h1>
        </header>

        <form class="ui form" method="POST" action=".">
            {% csrf_token %}
            <div class="row">
                    <div class="three fields">
                        <div class="field">
                            <label>Data Inicial</label>
                            <input type="date" name="data_inicio" id="data_inicio" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}" value="1/1/2000" placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" required>
                        </div>

                        <div class="field">
                            <label>Data Final</label>
                            <input type="date" name="data_fim" id="data_fim" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}"  placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" value="" required>
                        </div>
                        <div class="field">
                            <button type="submit" class="left floated ui green button" id="button-row-left">Filtrar</button>
                        </div>
                    </div>
                </div>

        </form>

        {% if objects %}
            <table class="ui teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Brinco</th>
                    <th>Data de Início e Fim da Trajetória</th>
                    <th>Tempo de Duração</th>
                    <th>Comprimento (km)</th>
                    <th>Quantidade de Pontos</th>
                    <th>Velocidade Mínima (km/h)</th>
                    <th>Velocidade Máxima (km/h)</th>
                    <th>Velocidade Média (km/h)</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    <tr>
                        <td>
                            {% if object.bovino_id|getIsFemea %}
                                <i class="woman icon"></i>
                            {% else %}
                                <i class="man icon"></i>
                            {% endif %}
                        </td>

                        <td>{% if object.bovino_id %}{{ object.bovino_id|getNome }}{% endif %}</td>
                        <td>{% if object.bovino_id %}{{ object.bovino_id|getBrinco}}{% endif %}</td>
                        <td>{% if object.data_hora_inico or object.data_hora_fim %}{{ object.data_hora_inicio|date:'d/m/Y' }} - {{ object.data_hora_fim|date:'d/m/Y' }}{% endif %}</td>
                        <td>{% if object.tempo_duracao %}{{ object.tempo_duracao }}{% endif %}</td>
                        <td>{% if object.comprimento_intervalo %}{{ object.comprimento_intervalo|converte_metros_para_quilometros|floatformat:3 }}{% endif %}</td>
                        <td>{% if object.quantidade_pontos %}{{ object.quantidade_pontos.id_ponto__count}}{% endif %}</td>
                        <td>{% if object.velocidade_minima %}{{ object.velocidade_minima.velocidade__min|floatformat:2 }}{% endif %}</td>
                        <td>{% if object.velocidade_maxima %}{{ object.velocidade_maxima.velocidade__max|floatformat:2 }}{% endif %}</td>
                        <td>{% if object.velocidade_media %}{{ object.velocidade_media_intervalo|converte_metros_para_quilometros|floatformat:10 }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="row">
                <div class="ui large warning icon message" id="ui_message">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="header"></div>
                        <p>Não foi possivel encontrar movimentação de bovinos na data atual.
                            Por favor, utilize o filtro de datas para visualiar o relatório de movimentação de bovinos.</p>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>
        </div>

    </div>
    <div class="two wide column"></div>

{% endblock %}
