{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Pessoas{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">

    </div>
    <div class="two wide column"></div>

{% endblock %}
