{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Raças{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Raças</h1>
        </header>

        {% if racas %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th>Raça</th>
                        <th>Descrição</th>

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for raca in racas  %}
                    <tr>
                        <td>{% if raca.raca %}{{ raca.raca }}{% endif %}</td>
                        <td>{% if raca.descricao %}{{ raca.descricao }}{% endif %}</td>

                        <td><a href="{% url 'visualizar_raca' raca.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_raca' raca.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_raca' raca.id %}" name="excluir" id="{{ raca.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Raça</div>
                          <p>Não existem raças cadastradas.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
