{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}

{% block  css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block title %}Cadastrar Categoria{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
          <h3 class="ui header">
            Cadastrar Categoria
          </h3>
        </div>
        <form class="ui form attached fluid segment" role="form" id="formCategoria" method="post" action="{% url 'cadastrar_categoria'%}">
            {% csrf_token %}
            
            <div class="field">
                <label class="label-form"> {{ form.categoria.help_text }}</label>
                {{ form.categoria }}
                {% if form.categoria.errors %}
                    {{ form.categoria.errors }}
                {% endif %}
            </div>

            <div class="ui field">
               <label class="label-form"> {{ form.descricao.help_text }}</label>
               {{ form.descricao }}
               {% if form.descricao.errors %}
                   {{ form.descricao.errors }}
               {% endif %}
            </div>

            <div class="two fields">
              <div class="field">
                 <label class="label-form"> {{ form.periodo_duracao_previsto.help_text }}</label>
                 {{ form.periodo_duracao_previsto }}
                 {% if form.periodo_duracao_previsto.errors %}
                     {{ form.periodo_duracao_previsto.errors }}
                 {% endif %}
              </div>
              <div class="field">
                 <label class="label-form"> {{ form.periodo_duracao_padrao.help_text }}</label>
                 {{ form.periodo_duracao_padrao }}
                 {% if form.periodo_duracao_padrao.errors %}
                     {{ form.periodo_duracao_padrao.errors }}
                 {% endif %}
              </div>
            </div>

            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
