{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cadastrar Banco de Espermas{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="ui attached message">
        <h3 class="ui header">
          Cadastrar Banco de Espermas
        </h3>
      </div>
      <form class="ui form attached fluid segment" role="form" id="formRaca" method="post" action="{% url 'cadastrar_esperma'%}">
            {% csrf_token %}

            <div class="field">
              <label class="label-form">{{ form.nome.help_text }}</label>
              {{ form.nome }}
              {% if form.nome.errors %}
                  {{ form.nome.errors }}
              {% endif %}
            </div>

            <div class="field">
              <label class="label-form">{{ form.codigo_compra.help_text }}</label>
              {{ form.codigo_compra }}
              {% if form.codigo_compra.errors %}
                  {{ form.codigo_compra.errors }}
              {% endif %}
            </div>

            <div class="two fields">
              <div class="field">
                <label class="label-form">{{ form.raca.help_text }}</label>
                {{ form.raca }}
                {% if form.raca.errors %}
                    {{ form.raca.errors }}
                {% endif %}
              </div>

              <div class="field">
                <label class="label-form">{{ form.data_nascimento.help_text }}</label>
                {{form.data_nascimento|attr:"type:date"}}
                {% if form.data_nascimento.errors %}
                    {{ form.data_nascimento.errors }}
                {% endif %}
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label class="label-form">{{ form.pai.help_text }}</label>
                {{ form.pai }}
                {% if form.pai.errors %}
                    {{ form.pai.errors }}
                {% endif %}
              </div>

              <div class="field">
                <label class="label-form">{{ form.mae.help_text }}</label>
                {{ form.mae }}
                {% if form.mae.errors %}
                    {{ form.mae.errors }}
                {% endif %}
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label class="label-form">{{ form.quantidade_comprada.help_text }}</label>
                {{ form.quantidade_comprada }}
                {% if form.quantidade_comprada.errors %}
                    {{ form.quantidade_comprada.errors }}
                {% endif %}
              </div>

              <div class="field">
                <label class="label-form">{{ form.quantidade_estoque.help_text }}</label>
                {{ form.quantidade_estoque }}
                {% if form.quantidade_estoque.errors %}
                    {{ form.quantidade_estoque.errors }}
                {% endif %}
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label class="label-form">{{ form.distribuidora.help_text }}</label>
                {{ form.distribuidora }}
                {% if form.distribuidora.errors %}
                    {{ form.distribuidora.errors }}
                {% endif %}
              </div>

              <div class="field">
                <label class="label-form">{{ form.codigo.help_text }}</label>
                {{ form.codigo }}
                {% if form.codigo.errors %}
                    {{ form.codigo.errors }}
                {% endif %}
              </div>
            </div>

            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
