{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cadastrar Inseminação{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">

        <div class="ui attached message">
            <h3 class="ui header">
                Cadastrar Inseminação
            </h3>
        </div>

        <form class="ui form attached fluid segment" role="form" id="formInseminacao" method="post" action="{% url 'cadastrar_inseminacao'%}">
            {% csrf_token %}

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.data_inseminacao.help_text }}</label>
                    {{ form.data_inseminacao|attr:"type:date" }}
                    {% if form.data_inseminacao.errors %}
                        {{ form.data_inseminacao.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.vaca.help_text }}</label>
                    {{ form.vaca }}
                    {% if form.inseminacao.vaca.errors %}
                        {{ form.vaca.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.touro.help_text }}</label>
                    {{ form.touro }}
                    {% if form.touro.errors %}
                        {{ form.touro.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label-form"> {{ form.inseminador.help_text }}</label>
                {{ form.inseminador }}
                {% if form.inseminador.errors %}
                    {{ form.inseminador.errors }}
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form"> {{ form.observacao.help_text }}</label>
                {{ form.observacao }}
                {% if form.observacao.errors %}
                    {{ form.observacao.errors }}
                {% endif %}
            </div>


            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
