{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Cadastrar Status Reprodutivo{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="ui attached message">
        <h3 class="ui header">
          Cadastrar Status Reprodutivo
        </h3>
      </div>

      <form class="ui form attached fluid segment" role="form" id="formStatusReprodutivo" method="post" action="{% url 'cadastrar_status_reprodutivo'%}">
            {% csrf_token %}
            <div class="field">
                <label class="label-form"> {{ form.status_reprodutivo.help_text }}</label>
                {{ form.status_reprodutivo }}
                {% if form.status_reprodutivo.errors %}
                    {{ form.status_reprodutivo.errors }}
                {% endif %}
            </div>

            <div class="ui field">
               <label class="label-form"> {{ form.descricao.help_text }}</label>
               {{ form.descricao }}
               {% if form.descricao.errors %}
                   {{ form.descricao.errors }}
               {% endif %}
            </div>

            <div class="two fields">
              <div class="field">
                 <label class="label-form"> {{ form.periodo_duracao_previsto.help_text }}</label>
                 {{ form.periodo_duracao_previsto }}
                 {% if form.periodo_duracao_previsto.errors %}
                     {{ form.periodo_duracao_previsto.errors }}
                 {% endif %}
              </div>
              <div class="field">
                 <label class="label-form"> {{ form.periodo_duracao_padrao.help_text }}</label>
                 {{ form.periodo_duracao_padrao }}
                 {% if form.periodo_duracao_padrao.errors %}
                     {{ form.periodo_duracao_padrao.errors }}
                 {% endif %}
              </div>
            </div>

            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="submit">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
