<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/logo-sistema.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icon-lattes.css' %}" />


    {# JQuery library #}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/js.js'%}"></script> {# carrega dropdown #}


    {# semantic #}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

    <script src="{% static 'semantic/dist/components/dropdown.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/components/dropdown.css' %}">

    {%block css%}
    {% endblock %}


    {% block js %}
    {% endblock %}


</head>

<body>
<section>
    <header>
        <div class="nav">
            {% include "app_bovino/menu_computer.html" %}
        </div>
    </header>



    <article class="ui stackable grid">
        <div class="row"></div>
        <div class="row">
            {% block body %}{% endblock %}
        </div>
        <div class="row"></div>
    </article>

    <footer class="ui centered middle aligned stackable grid azul">
        <div class="one wide column">
            {#            <a href='http://ifc.edu.br'>#}
            {#                <img class="ui image centered tiny" src="{% static "images/logo-ifc-vertical-branco.png" %}"#}
            {#                     alt="Logo Instituto Federal Catarinense">#}
            {#            </a>#}
        </div>
        <div class="eight wide column ui center aligned basic segment">
            {#                <p class="ui center aligned basic segment">#}
            {#                    <div class="row">Desenvolvido por <a href="http://lattes.cnpq.br/6784216532912514"> Marilia Ribeiro da Silva</a> em parceria com a <a href="http://fabricadesoftware.araquari.ifc.edu.br/">Fábrica de Software</a></div>#}
            <div class="row">Desenvolvido por <a href="http://lattes.cnpq.br/6784216532912514"> Marilia Ribeiro da Silva</a> em parceria com o
                <div class="row">Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Câmpus Araquari </div>
                <div class="row">Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Araquari - SC</div>
                <div class="row">Fone (47) 3803-7200 - Fax (47) 3803-7201</div>
                {#                </p>#}
            </div>
        </div>
        <div class="one wide column">

            {#                <a href='http://fabricadesoftware.ifc.edu.br'>#}
            {#                    <img class="ui image centered tiny" src="{% static "images/logo-fabrica.png" %}"#}
            {#                         alt="Logo Fábrica de Software">#}
            {#                </a>#}
        </div>
    </footer>
</section>
</body>
</html>
