{% extends 'app_bovino/base.html' %}
{% load staticfiles %}

{% block title %} Configurações {% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
          <h1 class="ui horizontal divider header">Configurações</h1>
        </header>
        {% if cards%}
            <div class="ui centered cards">
                {% for card in cards  %}
                    <div class="blue card">
                      <div class="content">
                        <div class="header">
                          {{ card.model }}
                        </div>

                        <div class="two wide columns">
                          <div class="column right">
                              <a href="../{{card.url_cadastrar}}" class="item">
                                  <i class="plus icon"></i>
                                  Cadastrar
                              </a>
                              <a href="../{{card.url_listar}}" class="item">
                                  <i class="info icon"></i>
                                  Listar
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
            </div>
        {% else %}
            <div class="panel panel-info">
                    <div class="panel-heading">Configurações</div>
                    <div class="panel-body">Não existem módulos de configurações ativos para o seu usuário.</div>
            </div>
        {% endif %}
    </div>
    <div class="two wide column"></div>


{% endblock %}
