<div class="ui labeled icon menu">
  <a href="{% url 'index' %}" class="item">
      <i class="home icon"></i>
      Home
  </a>
  <a href="{% url 'painel_controle' %}" class="item">
      <i class="configure icon"></i>
      Painel de controle
  </a>
</div>
