<div class="ui stackable labeled icon menu azul">
    <a href="{% url 'index' %}" class="item">
        <i class="logo-sistema"></i>
        Sistema de Monitoramento Bovino
    </a>
{#    <a href="{% url 'index' %}" class="item">#}
{#      <i class="home icon"></i>#}
{#      Home#}
{#    </a>#}
    {% if user.is_authenticated %}
        <a href="{% url 'painel_controle' %}" class="item">
          <i class="configure icon"></i>
          Painel de controle
        </a>


        <div class="right menu">
{#            <a href="{% url 'notificacoes' %}" class="item">#}
{#              <i class="alarm icon"></i>#}
{#              Notificações#}
{#            </a>#}
            <div class="item">
                <i class="user icon"></i>
                {{user.first_name}} {{ user.last_name }}
            </div>
            <a href="{% url 'configuracoes_app_bovino' %}" class="item">
              <i class="setting icon"></i>
              Configurações
            </a>
            <a href="{% url 'auth_logout' %}?next={% url 'login' %}" class="item">
                <i class="sign out icon"></i>
                Sair
            </a>
        </div>
    {% else %}
        <div class="right menu">
            <a href="{% url 'login' %}" class="item">
                <i class="sign in icon"></i>
                Entrar
            </a>
        </div>
    {% endif %}
</div>
