{% extends 'app_bovino/base.html' %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->

{% block title %} Notificações {% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
          <h1 class="ui horizontal divider header">Notificações</h1>
        </header>
        {% if notificacoes %}
            <div class="ui centered cards">
                {% for notificacao in notificacoes  %}
                    oi
                {% endfor %}
            </div>
        {% else %}
            <div class="ui large info icon message">
                  <i class="info icon"></i>
                  <div class="content">
                      <div class="header">Notificações</div>
                      <p>Não existem notificações no momento.</p>
                  </div>
            </div>
        {% endif %}
    <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>
    </div>
    <div class="two wide column"></div>


{% endblock %}
